@import "../../styles/common/typography";

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users-board {
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-wrapper {
        display: flex;
        gap: 10px;
    }

    &-avatar {
        max-width: 45px;
        max-height: 45px;
        border-radius: 50%;
    }
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-history {
        margin-left: 20px;

        &-buttons {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
